// Div sizes
$container-width: 90%;

// Padding and margin
$YPadding: 2rem;

// Fonts size
$giantText: 3.5rem;
$fontMain: 2.25rem;
$fontSub: 1.32rem;
$fontSubHead: 1.3rem;
$text: 1.12rem;
$smallText: 0.9rem;

// Font thickness
$thin: 300;
$normal: 400;
$medium: 500;
$fat: 600;

// Text shadow
$textShadow: 0 0.25rem 0.25rem rgba(0, 0, 0, .18);
$hardShadow: 3px 3px 4px rgba(0, 0, 0, .9);

// Main border
$border: 1px solid #08415C;

// Border radius
$mainRadius: 0.3rem;
$radius05: 0.5rem;

// Shadows
$shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
$hoverButtonShadow: 0 5px 7px rgba(0, 0, 0, .5);
$activeButtonShadow: 0 3px 7px rgba(0, 0, 0, .5);
$subShadow: 0px 0px 26px rgba(0, 0, 0, .3);
$allOverShadow: 0 0 3px rgba(0, 0, 0, .5);
$bigTopShadow: 0 7px 24px rgba(0, 0, 0, .7);
$smallTopShadow: 0 9px 3px rgba(0, 0, 0, .3);
$downShadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
$yellowShadow: 0 5px 7px rgba(255, 190, 46, 0.8);
$rightShadow: 10px 0 10px rgba(0, 0, 0, .6);

// Opacity
$O7: 0.7;
$O4: 0.4;
$O3: 0.3;
$O2: 0.2;

// Transition
$mainTransition: all 0.3s;
$mainTransitionWithDelay: all 0.3s 0.1s;

// Colors
$corpBlue: linear-gradient(137.24deg, #1C3D4B 28.96%, #2E4651 51.6%, #282C33 72.01%);
$corpBlueRadial: radial-gradient(#2E4651 20%, #282C33 72.01%);
$corpBlueTransparent: linear-gradient(137.24deg, rgba(28, 61, 75, 0.72) 28.96%, rgba(46, 70, 81, 0.32) 51.6%, rgba(40, 44, 51, 0.84) 72.01%);
$corpBlueTransparentHover: linear-gradient(137.24deg, rgba(28, 61, 75, 0.616) 30.04%, rgba(46, 70, 81, 0.32) 51.6%, rgba(40, 44, 51, 0.603) 66.01%);
$corpBlueHover: linear-gradient(137.24deg, #265164 28.96%, #3a5764 51.6%, #383e47 72.01%);
$tableBlue: rgba(8, 65, 92, 0.6);

$corpYellowGradient: linear-gradient(96.09deg, #FFBE2E 42.51%, #B97500 95.09%);
$corpYellowGradientTransparent: linear-gradient(96.09deg, rgba(255, 190, 46, 0.8) 42.51%, rgba(185, 117, 0, 0.9) 95.09%);
$corpBlueLinear: linear-gradient(180deg, #093549 0%, #114B66 47.4%, #156082 100%);
$corpYellow: #FFBE2E;
$corpYellowHover: #ffbd2ec7;
$corpYellowTransparent: rgba(255, 189, 46, 0.4); 
$corpWhite: #F2F2F2;
$corpWhiteTransparent: linear-gradient(137deg, #f2f2f2c0 48.51%, #ffffff 49.09%, #f2f2f2c0 67.09%);
$corpWhiteGradient: linear-gradient(180deg, #FFFFFF 42.51%, #f1f1f1 95.09%);
$cardBgGradient: linear-gradient(180deg, #FFFFFF 42.51%, #2f5a781a 95.09%);
$subColor: #b8b8b8;
$h1: #08415C;
$h1Hover: #185f80;
$h1Transparent: #185f80c5;
$mainText: #404040;
$dropShadow: rgba(0, 0, 0, .4);
$scrollBar: #b89a55;
$error: #ff7b00;
$backdropBlue: linear-gradient(137.24deg, rgba(28, 61, 75, .74) 28.96%, rgba(46, 70, 81, .45) 51.6%, rgba(40, 44, 51, .87) 72.01%);

// Media querys
$mobileL: 424px;
$tablet: 767px;
$laptop: 1023px;
$laptopL: 1439px;
$fourK: 2559px;
